<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-newEaten="{{eat}}">
		{{#if eat}}Eat Burger{{else}}Order Another One?{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>